html, body {
    margin: 0px;
}

.black-div{
    padding: 0 4% 4% 4%;
    background-color: #464646;
}
.white-div{
    padding: 0 11%;
    background-color: white;

}
.left-tool-bar{
    position: fixed; 
    left: 4%; 
    border: 3px solid black; 
    border-left-style: none;
    text-align: center;
    z-index: 2;
    width: 4.1%;
}
.log-in-hover :hover{
    background-color: #28B463;
}
.log-in{
    background-color: #2ECC71;
    padding: 15% 0;
}
.join-hover :hover{
    background-color: black;
}
.join{
    background-color: #464646;
    padding: 25% 0;
}
.search-hover :hover{
    background-color: #3498DB;
}
.search{
    background-color: #707B7C;
    text-align: center;
}
img{
    width: 100%;
}
nav{
    text-align: center;
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    justify-content: center;
    display: flex;
}

nav > a {
    width: 10%;
}

nav > a > img {
    width: 100%;
}
.footer-container{
    background-color: #1F1F1F;
}
.inside-footer{
    padding: 0 15%;
    display: flex; 
    justify-content: space-around;
}
.text{
    color: #FFFFFF;
}
.bottom-news-text {
    color: black;
    font-size: 14.5px;
    margin-top: 5px;
    padding-bottom: 15px;
}
h3{
    margin: 0 5%;
    color: white;
}
p{
    margin: 0 5%;
}
.news-text-div{
    border-radius: 0 0 7px 7px;
    color: #FFFFFF;
}
a{
    color: #616161;
    text-decoration: none; 
}
.rating-pic{
    position: absolute; 
    right: 0px; 
    bottom: 0px;
    width: unset;
}
.unset{
    width: unset;
}
h6{
    font-size: small;
    margin: 0px;
    color: #FFFFFF;
}
.big-news-container{
    display: flex; 
    padding-bottom: 70px;
}
.news-content-container{
    width: 70%;
}
.news-doc-top{
    background-color: grey;
    margin-top: 98px;
}
.news-top-img{
    margin-left: 150px; width: 50%;
}
.news-title{
    color: black;
    font-size: x-large;
    margin-bottom: 25px;
    margin-top: 20px;
}
.news-content{
    color: #919191;
    margin-bottom: 11px;
}
.news-in-news{
    border-radius: 0 0 7px 7px;
}
.small-title{
    font-size: 22px;
    margin-top: 30px;
}
.date{
    color: #919191;
    padding-top: 30px
}
.sub-title{
    color: #30A7D7;
    margin-left: 10%;
    font-size: 20px;
    margin-bottom: 25px;
}
.next-to-news{
    margin-top: 40px; 
    margin-left: 20px;
    width: 30%;
}
.news-img{
    float: right;
    margin-left: 8px;
}
.news-mid-img{
    margin: 0 5%; 
    width: 90%;
}
hr{
    margin-left: 5%;
    border: solid #30A7D7 2px;
}
ul{
    margin: 0 30px;
}
.hr{
    border: solid black 1px; 
}
.featured-img{
    width: 100%; 
}
.featured-container{
    width: 25%;
    border: solid black 2px;
}
.featured-pkm-info{
    color: white;
    background-color: #232323;
    padding: 20px 0;
}
.featured-name{
    display: flex; 
    justify-content: space-between;
}
.featured-type{
    display: flex;
    margin-top: 7px;
}
.type-text2{
    margin: 0 5px;
    padding: 1px 6px;
    border-radius: 4px;
}
.type-text{
    margin-right: 50px;
}
.ab-text{
    margin-right: 40px;
}
#bottom-white {
    padding: 100px 11% 155px 11%;
}
.featured-thing {
    background-color: #232323;
    width: 240px;
    display: flex;
    align-content: center;
    margin: 0px;
    padding: 10px 3px;
    border-radius: 7px 7px 0 0;
}
.smaller-news {
    width: 31%;
    border-radius: 0 0 7px 7px;
}
button {
    background-color: #313131;
    height: 3.75em;
    border-radius: 6px;
    position: absolute;
    right: 185px;
    z-index: 1;
    width: 220px;
    margin-top: 30px;
}
.bottom-news-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.news-container {
    display: flex;
    justify-content: space-evenly;
    transition-property: background-color;
    transition-duration: 0.5s;
    width: 100%;
}
.bottom-news {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 31.5%;
}
.smaller-bottom-news{
    border-radius: 0 0 7px 7px;
}
.news1 {
    position: relative;
    background-color: #E6BC2F;
    height: 31%;
}
.news1-a {
    width: 48%;
    background-color: #E6BC2F;
}
.news1:hover {
    background-color: #F1C42D;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.news2-a {
    width: 48%;
    background-color: #41C9F9;
}
.news2 {
    position: relative;
    background-color: #41C9F9;
    height: 31%;
}
.news2-a:hover {
    background-color: #0BC6EC;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.news3 {
    background-color: #313131;
}
.news3:hover {
    background-color: #000000;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.news4 {
    background-color: #4DAD5B;
}
.news4:hover {
    background-color: #35A546;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.news5 {
    background-color: #EE6B2F;
}
.news5:hover {
    background-color: #DC5700;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.news6 {
    background-color: #E6BC2F;
}
.news6:hover {
    background-color: #F1C42D;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.news7 {
    background-color: #855AC9;
}
.news7:hover {
    background-color: #9E59EF;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.news8 {
    background-color: #E3350D;
}
.news8:hover {
    background-color: #CE2222;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.news10 {
    background-color: #EE6B2F;
}
.news10:hover {
    background-color: #DC5700;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.news11 {
    background-color: #675945;
}
.news11:hover {
    background-color: #6A451A;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.mb-50px{
    margin-bottom: 50px;
}
.pokedex-title{
    margin-top: 120px;
    color: black; 
    text-align: center;
}
.pokedex-number{ 
    color: #616161;
    font-size: inherit;
}
div{
    font-family: 'Open Sans', sans-serif;
}
.stats-img{
    width: 100%;
    height: 100%;
}
.stats-column{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 13%;
    height: 13%;
}
.pkdx-container1{
    display: flex;
    padding-bottom: 5%;
}
.pkdx-container2{
    display: flex;
    flex-direction: column; 
    margin-right: 2%; 
    width: 100%;
}
.pkdx-img-container{
    background-color: #EBEFF0; 
    border-radius: 5px;
}
.stats-container{
   background-color: #A4A4A4; 
   margin-top: 5%; 
   border-radius: 5px;
}
.stats-container2{
    display: flex; 
    justify-content: space-evenly; 
    padding: 3% 4%;
}
.pkdx-desc{
    width: 95%;
    font-size: large;
}
.pkdx-blue-desc{
    background-color: #30A7D7; 
    display: flex; 
    justify-content: space-between; 
    border-radius: 8px; 
    margin: 10% 0;
    height: 30%;
}
.desc-column-1{
    margin-left: 5%; 
    padding: 2% 0;
    height: 100%;
}
.desc-column-2{
    margin: 2% 15% 2% 0;
    height: 100%;
}
.pkdx-types{
    font-size: large; 
    width: 30%; 
    text-align: center; 
    border-radius: 6px; 
    padding: 0.5%; 
    margin-right: 2%;
    color: white;
}
.the-type{
    margin: 4% 0;
}
.bottom-types{
    margin-top: 2%;
}
.footer1{
    width: 30%; 
}
.the-pokemon-company{
    margin: 7% 0 0 0;
}
.footer-list{
    padding: 0px; 
    margin-left: 20px;
}
.color-gray{
    color: #616161;
}
.footer2{
    width: 25%; 
    padding-left: 3%;
}
.connect-with-us{
    font-size: small; 
    margin: 7% 0 7% 0;
}
.footer3{
    font-size: small; 
    padding-bottom: 2%;
}
.inner-footer3{
    display: flex; 
    margin-bottom: 7%; 
    padding: 40px 0 0 10px;
}
.kids-safety{
    height: 100%; 
    padding-top: 7%;
}
.footer-list2{
    list-style-type: none; 
    text-decoration: underline;
    margin: 0px;
}
.view-all{
    width: 100%; 
    margin: 0px; 
    padding: 5%; 
}
#orange{
    background-color: #EE6B2F; 
    border-radius: 7px 7px 0 0;
}
#blue{
    background-color: #30A7D7; 
    color: black; 
    border-radius: 0 0 7px 7px;
}